<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsividad individual</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app_ex/css/style.css' %}">
</head>

<body>
  <div class="header row">
    <div class="col-12">
      <h1>{{titulo}}</h1>
    </div>
    <div class="col-12">
      <h3>Individual excercise</h3>
    </div>
    <div class="col-12">
      <p>The purpose of this excercise is to understand the responsiveness of the web browser, whether viewed from a
        mobile device or a computer.</p>
      <p>{{texto}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="col-12 ">
        {% load static %}
        <div class="img"><img src="{% static 'app_ex/img/img_01.jpg' %}" alt="img_01"></div>

      </div>
      <div class="tags row">
        <div class="tag col-7">
          <p>#tag</p>
        </div>
        <div class="tag col-5">
          <p>#tag</p>
        </div>
        <div class="tag col-2">
          <p>#tag</p>
        </div>
        <div class="tag col-4">
          <p>#tag</p>
        </div>
        <div class="tag col-6">
          <p>#tag</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 ">
        <div class="img"><img src="https://maimilu.com/filedata/public/eventimg/7-91d40.jpg" alt=""></div>
      </div>
      <div class="tags row">
        <div class="tag col-7">
          <p>#tag</p>
        </div>
        <div class="tag col-5">
          <p>#tag</p>
        </div>
        <div class="tag col-2">
          <p>#tag</p>
        </div>
        <div class="tag col-4">
          <p>#tag</p>
        </div>
        <div class="tag col-6">
          <p>#tag</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 ">
        <div class="img"><img src="https://maimilu.com/filedata/public/eventimg/7-91d40.jpg" alt=""></div>
      </div>
      <div class="tags row">
        <div class="tag col-7">
          <p>#tag</p>
        </div>
        <div class="tag col-5">
          <p>#tag</p>
        </div>
        <div class="tag col-2">
          <p>#tag</p>
        </div>
        <div class="tag col-4">
          <p>#tag</p>
        </div>
        <div class="tag col-6">
          <p>#tag</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 ">
        <div class="img"><img src="https://maimilu.com/filedata/public/eventimg/7-91d40.jpg" alt=""></div>
      </div>
      <div class="tags row">
        <div class="tag col-7">
          <p>#tag</p>
        </div>
        <div class="tag col-5">
          <p>#tag</p>
        </div>
        <div class="tag col-2">
          <p>#tag</p>
        </div>
        <div class="tag col-4">
          <p>#tag</p>
        </div>
        <div class="tag col-6">
          <p>#tag</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 ">
        <div class="img"><img src="https://maimilu.com/filedata/public/eventimg/7-91d40.jpg" alt=""></div>
      </div>
      <div class="tags row">
        <div class="tag col-7">
          <p>#tag</p>
        </div>
        <div class="tag col-5">
          <p>#tag</p>
        </div>
        <div class="tag col-2">
          <p>#tag</p>
        </div>
        <div class="tag col-4">
          <p>#tag</p>
        </div>
        <div class="tag col-6">
          <p>#tag</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-12 ">
        <div class="img"><img src="https://maimilu.com/filedata/public/eventimg/7-91d40.jpg" alt=""></div>
      </div>
      <div class="tags row">
        <div class="tag col-7">
          <p>#tag</p>
        </div>
        <div class="tag col-5">
          <p>#tag</p>
        </div>
        <div class="tag col-2">
          <p>#tag</p>
        </div>
        <div class="tag col-4">
          <p>#tag</p>
        </div>
        <div class="tag col-6">
          <p>#tag</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>